@import "tailwindcss";

@theme {
  --color-accent-50: #edf8ff;
  --color-accent-100: #d6eeff;
  --color-accent-200: #b5e3ff;
  --color-accent-300: #83d3ff;
  --color-accent-400: #48b9ff;
  --color-accent-500: #1e96ff;
  --color-accent-600: #0675ff; /** This is the "one" */
  --color-accent-700: #0061ff;
  --color-accent-800: #084ac5;
  --color-accent-900: #0d439b;
  --color-accent-950: #0e295d;

  --font-sans: "Inter", sans-serif;

  --aspect-blog-img: 7 / 2;
  --aspect-thumbnail: 3 / 2;
}

:root {
  @apply accent-accent-600;
}

@layer base {
  html {
    @apply selection:bg-accent-600 scroll-smooth selection:text-white;
  }

  body {
    @apply bg-zinc-100 font-sans dark:bg-black;

    font-optical-sizing: auto;
  }

  h1 {
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 1.11;
    text-wrap: balance;
    color: var(--color-accent-600);
  }

  h2 {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 1.13;
    text-wrap: balance;
    color: var(--color-zinc-900);

    @media (prefers-color-scheme: dark) {
      color: var(--color-zinc-100);
    }
  }

  h3 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.1;
    text-wrap: balance;
    color: var(--color-zinc-800);

    @media (prefers-color-scheme: dark) {
      color: var(--color-zinc-200);
    }
  }

  p {
    text-wrap: pretty;
    line-height: 1.6;
    font-size: 1.1rem;
    color: var(--color-zinc-800);

    a {
      @apply text-accent-600 hover:underline;
    }

    @media (prefers-color-scheme: dark) {
      color: var(--color-zinc-200);
    }
  }

  hr {
    height: 2px;
    border: none;
    background-color: var(--color-zinc-200);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-zinc-800);
    }
  }

  kbd {
    background-color: var(--color-accent-600);
    color: var(--color-zinc-50);
    padding: var(--spacing) calc(var(--spacing) * 2);
  }
}

@custom-variant hoverable (@media (hover: hover));

@utility input {
  padding: 0.25rem;
  background-color: var(--color-zinc-200);
  width: 100%;
  color: var(--color-zinc-900);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-zinc-700);
    color: var(--color-zinc-200);
  }
}

@utility ring-on-focus-visible {
  @apply ring-accent-600 focus-visible:ring-3 focus-visible:transition-shadow focus-visible:outline-none;
}

@utility ring-on-has-focus-visible {
  @apply ring-accent-600 has-focus-visible:ring-3 has-focus-visible:transition-shadow has-focus-visible:outline-none;
}

@utility pile {
  display: grid;
  place-items: center;

  & > * {
    grid-area: 1 / -1;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility container {
  margin-inline: auto;
  padding: calc(var(--spacing) * 4);
  scroll-margin-block-start: 5rem;

  @media (width >= theme(--breakpoint-md)) {
    padding: calc(var(--spacing) * 6);
    scroll-margin-block-start: 3.5rem;
  }

  @media (width >= theme(--breakpoint-lg)) {
    max-width: 1024px;
  }
}

@utility card {
  padding: calc(var(--spacing) * 4);
  background-color: #fff;

  & > * + * {
    margin-block-start: calc(var(--spacing) * 4);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-zinc-900);
  }

  @media (width >= theme(--breakpoint-md)) {
    padding: calc(var(--spacing) * 6);

    & > * + * {
      margin-block-start: calc(var(--spacing) * 6);
    }
  }
}

@utility blog-post-table {
  @apply w-full text-zinc-800 dark:text-zinc-200;

  thead {
    tr {
      @apply bg-zinc-200 dark:bg-zinc-700;
    }

    th {
      @apply border border-zinc-300 px-2 dark:border-zinc-800;
    }
  }

  tbody {
    tr {
      @apply even:bg-zinc-100 dark:even:bg-zinc-800;
    }

    td {
      @apply border border-zinc-200 px-2 dark:border-zinc-700;
    }
  }
}
